@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'AngellaWhite';
  src: url('/fonts/Angella\ White.otf') format('opentype');
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Cormorant Garamond';
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  img {
    height: 100%;
    width: auto;
  }
}
